@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
/* entire page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: beige;
}

/* calculator stylings */

.calculator {
  position: relative;
  display: grid;
}

.calculator .value {
  grid-column: span 4;
  height: 11vh;
  width: 40vw;
  background: #fffafa;
  text-align: right;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 3vw;
}

.calculator span {
  display: grid;
  width: 10vw;
  height: 9vh;
  color: #fff;
  font-size: 2.3vw;
  background: #0d2e3d;
  place-items: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.calculator span:active {
  background: red;
  color: #111;
}

.calculator span.clear {
  grid-column: span 2;
  width: 20vw;
  background: #6699cc;
}

.calculator span.equal {
  grid-row: span 2;
  height: 18vh;
}
